<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/site.css" th:href="@{/css/site.css}" rel="stylesheet"/>
    <title>Publisher</title>
</head>
<body>
    <h1>Places To Visit</h1>
    <a th:href="@{publisher/create}">Add Location</a>
    <table>
        <tr th:each="publisher:${publishers}">
            <td th:text="${publisher.getId()}"></td>
            <td th:text="${publisher.getName()}"></td>
            <td><a th:href="@{publisher/gameDetails/} + ${publisher.getId()}">Details</a></td>
            <td><a th:href="@{publisher/EditPublisher/} + ${publisher.getId()}">Edit</a></td>
            <td><a th:href="@{publisher/DeletePublisher/} + ${publisher.getId()}">Delete</a></td>
        </tr>
    </table>
</body>
</html>